<body>
  <div id="content">
    <section class="rapids-card">
      <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
      <img class="icon" src="images/oars.png" alt="oars icon">
      <h2>Rapids</h2>
    </section>
    <div id="background"></div>
    <img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
    <section class="msg">
      <h2>More Than Just The Thrill</h2>
      <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors.</p>
      <a class='join' href="rivers.html">Join Us</a>
    </section>
    <footer>
      <!-- Footer content goes here --!>
    </footer>
  </div>
</body>
<style>
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@400&display=swap');

/* Reset styles */
body, h2 {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: var(--primary-color);
  font-family: 'Georgia', serif;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

:root {
  --primary-color: #E8F5F8;
  --secondary-color: #95D1DF;
  --accent1-color: #95D1DF;
  --accent2-color: #275174;
}

/* Typography styles */
body, h1, h2, h3, h4, p, a, .home-title, .msg h2 {
  font-family: 'Georgia', serif;
}

body, h1, h2, h3, h4, p, a {
  font-family: 'Georgia', serif;
  font-family: 'Times New Roman', Times, serif; /* Backup font 1 */
  font-family: 'Arial', sans-serif; /* Backup font 2 */
}

h1, h2, h3, h4 {
  font-family: 'Arial', sans-serif;
  font-family: 'Helvetica', sans-serif; /* Backup font 1 */
  font-family: 'Verdana', sans-serif; /* Backup font 2 */
}

/* Padding and margin adjustments */
.home-title {
  font-size: 2em;
  margin-top: 10px;
}

.book, .join {
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 15px 30px;
}

.msg {
  font-size: 0.8em;
  padding: 35px;
}

.msg p {
  padding-bottom: 15px;
}

#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.icon {
  padding-top: 10px;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

/* Card styles */
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
  border: 10px solid #275174;
}

/* Box-sizing adjustment */
main section img {
  box-sizing: border-box;
}

/* Hover styles */
nav a:hover {
  background-color: black;
  color: #d9c2a3;
}

.book, .join:hover {
  background-color: var(--accent1-color);
}

/* Header styles */
header {
  background-color: rgba(57, 110, 148, 0.7);
}
</style>