<body>
  <div id="content">
    <section class="rapids-card">
      <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
      <img class="icon" src="images/oars.png" alt="oars icon">
      <h2>Rapids</h2>
    </section>
    <div id="background"></div>
    <img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
    <section class="msg">
      <h2>More Than Just The Thrill</h2>
      <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors.</p>
      <a class='join' href="rivers.html">Join Us</a>
    </section>
    <footer>
      <!-- Footer content goes here --!>
    </footer>
  </div>
</body>
<style>
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  :root {
    /* change the values below to your colors from your palette */
    --primary-color: #396E94   ;
    --secondary-color: #E7C24F ;
    --accent1-color: #A42212;
    --accent2-color: #202030;
  }
  /* Centering the links inside the navigation */
  nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
  }
  
  /* Centering h1 and h4 inside #hero-msg */
  #hero-msg h1,
  #hero-msg h4 {
    text-align: center;
  }
  
  /* Centering the content inside .button-box */
  .button-box,
  main section {
    text-align: center;
  }
  
  #background {
    height: 725px;
    background-color: var(--secondary-color);
  }
  
  /* Background color for the entire body */
  body {
    background-color: var(--primary-color);
  }
  
  /* Background color for the header with some transparency */
  header {
    background-color: rgba(57, 110, 148, 0.7);
  }
  
  /* Background color for navigation links on hover */
  nav a:hover {
    background-color: black;
    color: #d9c2a3;
  }
  
  /* Background color for .book and .join classes */
  .book,
  .join {
    background-color: var(--secondary-color);
  }
  
  /* Background color for .book and .join classes on hover */
  .book:hover,
  .join:hover {
    background-color: var(--accent1-color);
  }
  
  /* Background color for the .msg section */
  .msg {
    background-color: var(--accent1-color);
  }
  
  /* Background color for the footer */
  footer {
    background-color: var(--secondary-color);
  }
  
  .icon {
    width: 80px;
  }
  
  footer p {
    font-size: 1.2em;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }
  </style>